.wrapper{
    display: flex;
    flex-direction: column;
}
.title{
    align-items: center;
    margin: 2rem 1rem 3rem;
    width: 100vw;
}
.title_header{
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.6rem;
    text-shadow: 2px 2px 4px #1a1a1a64;
}

.wrapper_buttons {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.button {
    font-size: 2rem;
    padding: 2rem;
    line-height: 2.5rem;
    max-width: 15rem;
    min-width: 12rem;
    box-shadow: 0 0 8px black;
    }
.button:hover {
    background-color: rgba(138, 188, 188, 0.277);
}
 .button_wr {
    margin: 1rem;
 }

 .wrapper_choices{
    display: flex;
    justify-content: space-around;
    margin: 2rem 4rem 2rem;
 }

 .choice_title {
     font-size: 1.5rem;
     line-height: 1.6rem;
     padding: 0.5rem;
     margin-bottom: 0.2rem;
     text-align: center;
 }
 .choice{
     text-align: center;
     border: 1px solid black;
     line-height: 1.5rem;
 }

 .wrapper_scores{
     text-align: center;
     margin-bottom: 3rem;
}
.wrapper_score{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 0.8rem 0;

}
.title_score{
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin-bottom: 0.5rem;
    text-align: center;
    border-bottom: 2px solid tomato;
}
.score{
    font-size: 1.2rem;
}
.victory{
    display: none;
    font-size: 2rem;
    letter-spacing: 8px;
    text-align: center;
    color: red;    

}