.wrapper_main {
    display: flex;
    justify-content: center;
}

.button {
    font-size: 2rem;
    padding: 2rem;
    line-height: 2.5rem;
    min-width: 15rem;
    }
.button:hover {
    background-color: rgba(28, 209, 209, 0.582);
}


 .button_wr {
    margin: 1rem;
 }